// HEADER---------------------------------->
// FONTS
$header-font: "Playwrite DE SAS", cursive;
$nav_bar-font: "Michroma", sans-serif;
$general-font: "Nunito Sans", sans-serif;
// FONT SIZES
$header_title_font-size: 3.5rem;
$header_text_font-size: 2rem;
$nav_bar_font-size: 1rem;
// COLORS
$bg_color: whitesmoke;
$header_text-color: white;
$nav_bar-bg-color: white;
